@import "../../assets/scss/variables";
.button {
    background-color: $success-theme;
    color: white;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    &:hover {
        background-color: $success-theme-hover;
        cursor: pointer;
    }
    &:disabled {
        background-color: $disabled-theme;
    }
}
