.container {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-color: white;
}
.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px rgba(66, 68, 90, 1);
}
